@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-scrolled {
    @apply backdrop-blur-xl !bg-[#F2F2F2]/85 dark:!bg-[#232323]/85;
}

.navbar-link {
    @apply text-neutral-500 hover:text-black dark:hover:text-white focus:outline-none;
}

.navbar-link-active {
    @apply text-black dark:text-white focus:outline-none;
}

.alert-popup {
    @apply !bg-[#1a1a1a];
}

.alert-title {
    @apply text-white;
}

.alert-content {
    @apply !text-white;
}

.alert-confirm {
    @apply !bg-white !text-black !rounded-full px-10 !ring-0;
}

.alert-container {
    @apply !bg-black/70;
}
